@{
    ViewBag.Title = "About";
}
<br />
<br />
<br />
<br />
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@


<p>This was for a project that we did in class. Use the following information to change add or delete a superhero.Otherwise I am just doing what I have to do.</p>
