@{
    ViewBag.Title = "Contact";
}
<br />
<br />
<br />
<br />
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Krypton<br />
    Maybe Milkyway<br />
    <abbr title="Phone">P:</abbr>
    608.630.7751

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:danmanfernan@gmail.com">danmanfernan@gmail.com</a><br />

</address>