@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HULK SMASH!</h1>
    <p class="lead">Click on the Heroes DB link above in the navigation bar to find the list of superheroes!</p>
  
</div>
<p>

    <img src="~/Hulk.jpg" alt="HULK Smash" height="1000" width="1000"/>

</p>

<div class="row">
    <div class="col-md-4">
        <h2>IGN TOP 25</h2>
        <p>
            I know IGN sucks at ranking things but below is a list of the top 25 superheroes according to them.
        </p>
        <p><a class="btn btn-default" href="http://www.ign.com/articles/2014/09/10/top-25-best-marvel-superheroes">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find a superhero for you!</h2>
        <p>Take this quiz below.</p>
        <p><a class="btn btn-default" href="https://www.buzzfeed.com/kristinchirico/which-superhero-are-you?utm_term=.qdpaayeK6q#.tb066wKpjY">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What is a superhero?</h2>
        <p>If you dont know what a superhero is you need help. Lucky for you I can help.</p>
        <p><a class="btn btn-default" href="https://www.psychologytoday.com/us/blog/the-superheroes/201003/what-is-superhero">Learn more &raquo;</a></p>
    </div>
</div>
